<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/membership.css">
    <link rel="stylesheet" href="/footer.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h2>Your current membership status: <%= membership_name %></h2>
        <section>
            <div class="offer">
                <h3>MEMBER</h3>
                <ul>
                    <li>View other club member's names on posts</li>
                    <li>See creation date of messages</li>
                    <li>Public your own posts to the CLUB</li>
                </ul>
                <form action="/membership" method="POST">
                    <input type="hidden" name="newMembershipId" value='2'>
                    <button>Click to upgrade to <br><span>MEMBER</span></button>
                </form>
            </div>
            <div class="offer">
                <h3>ADMIN</h3>
                <ul>
                    <li>View other club member's names on posts</li>
                    <li>See creation date of messages</li>
                    <li>Public your own posts to the CLUB</li>
                    <li>Modify all existing posts</li>
                    <li>Delete available messages from the CLUB</li>
                </ul>
                <form action="/membership" method="POST">
                    <input type="hidden" name="newMembershipId" value='3'>
                    <button>Click to upgrade to <br> <span>ADMIN</span></button>
                </form>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
